<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign up form</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <div th:class="master">
            <p th:class="logo">
                #poetry.com
            </p>
            <div th:class="main">
                <h1>Sign up to the event using this form</h1>

                <form action="#" th:action="@{/form}" method="POST">
                    <p><label for="name">Name</label>:<br/><input type="text" name="name" id="name"/></p>
                    <p><label for="address">Address</label>:<br/><input type="text" name="address" id="address"/></p>
                    <p><input type="submit" value="Submit" /></p>
                </form>
                <form action="#" th:action="@{/}" method="GET">
                    <p><input type="submit" value="Back" /></p>
                </form>
            </div>
            <a href='http://www.freepik.com/free-photo/stack-of-books-with-glasses-on-wooden-desk_902421.htm'>Image by Freepik</a>
        </div>
    </body>
</html>
