<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>EVENT</title>
    </head>
    <body>

        <h1>EVENT</h1>

        <a href="details.html" th:href="@{/form}">Register</a>
        
        <a href="modify.html" th:href="@{/modify}">Modify</a>
        
        <hr/>
        
        <p>Currently we have <span th:utext="${count}">count</span> signups!</p>
        
        <a href='http://www.freepik.com/free-photo/stack-of-books-with-glasses-on-wooden-desk_902421.htm'>Designed by Freepik</a>
    </body>
</html>
